@model W24_TP.Models.Reply

@{
    ViewData["Title"] = "CreatePerSub";
}

<h1>Write a new Reply</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePerSub">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" id="tinymce" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    tinymce.init({
        selector: '#tinymce'
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

