@model IEnumerable<W24_TP.Models.Category>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center banner-img">
	<h1 class="display-3 outlined-text">Welcome to the HSR Forums</h1>
	<p class="outlined-text">Learn about everything about the hit game Honkai: Star Rail.</p>
</div>