<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A23_FR_P44_EXF_P.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <A23_FR_P44_EXF_P.My.MySettings>
            <setting name="connection" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=Hockey;Integrated Security=True;Trust Server Certificate=True; Connection Timeout=3</value>
            </setting>
        </A23_FR_P44_EXF_P.My.MySettings>
    </applicationSettings>
</configuration>
