html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dropdownnav:hover > .dropdown-menu {
    display: block;
}

.dropdownnav > .dropdown-toggle:active {
    pointer-events: none;
}

.outlined-text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
}

.banner-img {
    background-image: url('../../img/banner.png');
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}

.form-control {
    background-color: lightgray;
}
