@model W24_TP.Models.Subject

@{
	ViewData["Title"] = "Create";
}

<h1>Create a new Subject</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label class="control-label">Character Relation</label>
				<select asp-for="FkCategory" class="form-control" asp-items="ViewBag.FkCategory"></select>
			</div>
			<div class="form-group">
				<label class="control-label">Author</label>
				<input asp-for="FkUser" class="form-control" />
				<span asp-validation-for="FkUser" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group" style="max-height: 300px; overflow-y: auto;">
				<label asp-for="Body" class="control-label"></label>
				<textarea asp-for="Body" class="form-control" style="resize: none; overflow: auto; min-height: 12em;"></textarea>
				<span asp-validation-for="Body" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
				</label>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
